.button {
  align-items: center;
  display: flex;
  font-size: 30px;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

/* custom styles for specific icon */
.button > svg {
  font-size: 20px;
  height: 80%;
  margin-left: -13px;
  margin-top: -15px;
  padding: 0;
  position: absolute;
  width: 28px;
}
