.repoHeaders tr {
  align-items: center;
  display: flex;
  height: var(--titlesHeight);
  justify-content: space-between;
  width: 100%;
}

.repoHeaders th {
  align-items: center;
  border-bottom: var(--borderSpacing) solid var(--baseColor);
  color: var(--darkColor);
  display: flex;
  flex-basis: 40%;
  height: 100%;
  justify-content: center;
  position: relative;
}

.repoHeaders th:nth-child(1) {
  flex-basis: 20%;
  border-left: 0;
}
